class {{ enum.name }}(Enum):
    r"""{{ enum.meta.doc | rst(indent=4) }}"""

    {% for enum_value in enum.values %}
    {{ '# ' + enum_value.meta.doc if enum_value.meta.doc else '' }}
    {{ enum_value.name }} = {{ enum_value.number }}

    {% endfor %}
{{ '\n\n' }}
